@font-face{
	font-family:'PTZ55F';
	src:url('font/PTZ55F.ttf');
	font-family:'PTF75F';
	src:url('font/PTF75F.ttf');
}
body {
    letter-spacing: 1.6px;
	font-family:PTZ55F, sans-serif;
}

br {
    line-height: 6px;
}

form {
    line-height: 26px;
}

caption {
    font-size: 12px;
}

input#inbox {
    border: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    color: #505050;
    font-size: 18px;
    height: 30px;
}

input#cmd {
    cursor: pointer;
    border: 1px;
    border-style: solid;
    border-color: #262163;
    background-color: #F05A28;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    font-family:PTZ55F, 宋体;
    height: 30px;
}

input#bar {
    cursor: pointer;
    border: 1px;
    border-style: solid;
    border-color: #E48362;
    background-color: #E48362;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    height: 30px;
}

textarea {
    border: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    color: #505050;
    font-size: 26px;
}

table#order {
    border: 1px;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
    color: #000000;
}

table#list {
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    line-height: 100%;
    color: #87CEFA;
}

table#tb {
    border: 0px;
}

table#tb a:link {
    color: #FFFFFF;
}

table#tb a:visited {
    color: #FFFFFF;
}

td#otd {
    border: 1px;
    border-style: solid;
    border-color: #636363;
    color: #000000;
    letter-spacing: 1px;
    padding: 6px;
}

th#otd {
    border: 1px;
    color: #000000;
    border-style: solid;
    border-color: #000000;
    letter-spacing: 1px;
    padding: 6px;
    text-align: center;
    background-color: #F9FAFB;
}

tr.heighline:hover {
    background-color: #D7E0E9;
}

tr.left-heighline:hover {
    background-color: #D7E0E9;
}

td#error {
    font-size: 16px;
    color: #C00000;
}

td#tip {
    font-size: 16px;
    color: #3C3E86;
}

td#end {
    font-size: 12.6px;
}

hr#endline {
    height: 1px;
    color: #3C3E86;
}

a.in-table:link {
    color: #4D4D4D;
    text-decoration: none;
}

a.in-table:visited {
    color: #4D4D4D;
    text-decoration: none;
}

a.in-table:hover {
    color: #F05A28;
    text-decoration: none;
}

a.on-bottom:link {
    color: #000000;
    text-decoration: none;
}

a.on-bottom:visited {
    color: #000000;
    text-decoration: none;
}

a.on-bottom:hover {
    color: #F05A28;
    text-decoration: none;
}

a.on-search:link {
    color: #336699;
    text-decoration: none;
}

a.on-search:visited {
    color: #336699;
    text-decoration: none;
}

a.on-search:hover {
    color: #FF4000;
    text-decoration: none;
}

a.top:link {
    color: #000000;
    text-decoration: none;
}

a.top:visited {
    color: #000000;
    text-decoration: none;
}

a.top:hover {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

#split-line {
    margin-left: 1px;
    margin-right: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #BEC0C2;
}

#split-line-m {
    margin-left: 1px;
    margin-right: 6px;
    margin-top: -3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #AA4C00;
}

.hidden {
    display: none;
}

div#manager_menu:hover {
    color: #000000;
    cursor: pointer;
    border: 0px;
    border-style: solid;
    background-color: #FFFFFF;
}

div#menu:hover {
    color: #FFFFFF;
    cursor: pointer;
    border: 0px;
    border-style: solid;
    background-color: #D17301;
}

div#menu_m:hover {
    color: #FFFFFF;
    cursor: pointer;
    border: 0px;
    border-style: solid;
    background-color: #D17301;
}

span#chosen:hover {
    color: #FFFFFF;
    cursor: pointer;
    border: 0px;
    border-style: solid;
    background-color: #D17301;
    padding: 8px;
}

div#link:hover {
    color: #15A230;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

div.menu {
    padding-left: 13px;
}

div.on_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D17301;
    height: 60px;
}

div.on_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

div.logo {
    position: absolute;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 12px 10px 10px 10px;
}

div.manager {
    font-size: 18px;
    color: #FFFFFF;
    margin: 10px 10px 10px 10px;
    float: right;
    padding: 10px;
}

div.title {
    text-align:center;
  	font-weight:bold;
	font-size:30px;
	font-family:PTF75F,华文细黑,serif;
    padding-top:10px;
    padding-bottom:20px;
}

h1.title {
  	font-weight:bold;
	font-size:36px;
	/*font-family:PTF75F,华文细黑,serif;*/
	text-align:center;
	color:#000000;
}

h1,h2,h3,h4,h5,h6 {
	color:#4D4D4D;
}

div.title_right {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    text-align:right;
    margin: 10px 10px 10px 10px;
    width: 100%;
}

p.section_title {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
	margin-top:10px;
	margin-bottom:10px;
    width: 696px;
}

#list {
    color: #000000;
    margin: 10px 10px 10px 10px;
}

p {
    font-size: 20px;
	font-family:PTZ55F,华文细黑,serif;
    color: #4D4D4D;
    line-height: 36px;
}

div.more {
    font-size: 16px;
		font-family:PTZ55F,华文细黑,serif;
		font-weight:bold;
		font-style:italic;
    color: #4D4D4D;
    line-height: 36px;
		margin-top:-23px;
		margin-bottom:23px;
		text-align:right;
}

div.wikitags {
	  float:right;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #B2B2B2;
    margin: 3px 3px 3px 3px;
    padding: 1px;
    text-align: center;
    width: 80px;
    border-radius: 10px 10px;
    border: 1px solid;
}

div.wikitags2 {
    width: 3px;
}

div.catalog {
    background-color: #FFFFFF;
    margin: 3px 3px 3px 3px;
    padding: 1px;
    border-radius: 6px 6px;
    border: 1px solid #AAAAAA;
    width: 360px;
}

div.catalog2 {
    font-weight: bold;
    font-size: 18px;
    color: #F05A28;
    padding: 3px;
    width: 120px;
}

.time {
    color: #B1B3B5;
    font-size: 16px;
}

span#itag {
    cursor: pointer;
    padding: 3px 6px 3px 6px;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

span#itag:hover {
    background-color: #F05A28;
	color: #FFFFFF;
}

div.top{
    margin-left:auto;
    margin-top:auto;
}

div.ontop{
	position:fixed;
	top:0;
	z-index:99999;
	width:100%;
	left:-10px;
	line-height:36px;
	padding-left:20px;
	font-size:20px;
	font-weight:bold;
	background-color:#FFFFFF;
	border-bottom: 1px solid #BEC0C2;
	font-family:PTF75F,宋体,sans-serif;
}

div.quote{
	border-left: 3px solid #FF0000;
	color:#333333;
	background-color:#ECECEC;
	width:98%;
	text-align:left;
	padding:6px;
	line-height:26px;
}

p.quote{
	border-left: 6px solid #F05A28;
	color:#333333;
	background-color:#F5F2F0;
	width:98%;
	text-align:left;
	padding:16px;
	line-height:26px;
	font-size:18px;
}

div.content{
    margin-left:auto;
    margin-right:auto;
	margin-top:58px;
	background-color:#FFFFFF;
	border:0px solid #6E737A;
    line-height:30px;
	width:900px;
}

div.onbottom{
	position:absolute;
	width:100%;
	height:30px;
    text-align:center;
	margin:0px auto 0px auto;
	padding:10px -10px;
	left:-1px;
	line-height:30px;
	font-size:20px;
	font-family:PTZ55F,华文细黑,serif;
	/*background-color:#F0F0F0;*/
	background-color:#FFFFFF;
}

div.intro{
	padding-top:6px;
	padding-bottom:20px;
}

div.tiny{
	text-align:center;
	font-size:12px;
	color:#525252;
	padding-top:6px;
	padding-bottom:6px
}

div.navi{
	float:right;
	color:#000000;
	margin-right:16px;
	padding-left:10px;
	padding-right:10px;
	font-size:18px;
	font-weight:normal;
	font-family:PTZ55F,宋体,sans-serif;
	src:url('font/PTZ55F.otf');
}

div.navi_now{
	float:right;
	/*color:#FFFFFF;
	background-color:#000000;*/
	color:#000000;
	margin-right:16px;
	padding-left:10px;
	padding-right:10px;
	font-size:18px;
	font-weight:normal;
	font-family:PTF75F, 宋体,sans-serif;
	border-bottom: 2px solid #F05A28;
}

div.navi:hover{
    cursor:pointer;
	/*color:#FFFFFF;*/
	/*background-color:#000000;*/
	color:#8D8D8D;
	margin-bottom: -2px;
	border-bottom: 2px solid #F05A28;
}

li{
	list-style:none;
	margin-left:-36px;
}

p.bt{
	border-left: 6px solid #F05A28;
	color:#333333;
	background-color:#FFFFFF;
	width:98%;
	height:100%;
	text-align:left;
	padding-left:8px;
	padding-top:1px;
	padding-bottom:5px;
	line-height:20px;
	font-size:22px;
	font-weight:bold;
}

h2{
    text-align:center;
}

b.bh{
	padding:5px;
	border:0px;
	border-style:solid;
	border-color:#F05A28;
	background-color:#FFFFFF;
	font-weight:bold;
	font-size:20px;
}

b.zd{
	font-weight:bold;
	color:#FF0000;
}

img.thumb{
	display:block;
	margin-left:auto;
	margin-right:auto;
	/*max-height:600px;*/
	max-width:900px;
}

.scode{
	padding:3px;
	border:0px;
	border-style:solid;
	border-color:#B1B3BB;
	background-color:#EEEEEE;
	color:#990033;
}

div.ncsa{
	float:left;
	margin-left:20px;
	margin-top:10px;
	padding-top:10px;
	text-align:left;
	width:36%;
	font-size:16px;
	color:#000000;
}

div.bar{
	float:right;
	margin-right:20px;
	padding-top:10px;
	text-align:left;
	width:16%;
	color:#000000;
	font-size:16px;
}

span.mess_red{
	background-color:#FF0000;
	color:#FFFFFF;
	padding:6px;
	margin-left:6px;
	font-size:15px;
	font-weight:bold;
	font-family:PTZ55F,宋体,sans-serif;
	src:url('font/PTZ55F.otf');
}

span.mess_green{
	background-color:#00713A;
	color:#FFFFFF;
	padding:6px;
	margin-left:6px;
	font-size:15px;
	font-weight:bold;
	font-family:PTZ55F,宋体,sans-serif;
	src:url('font/PTZ55F.otf');
}
