div.tree{
	position:fixed;
	z-index:9999;
}
div.tree_item{
	font-family:'Consolas', 'Panic Sans', 'DejaVu Sans Mono',
                'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei';
	position:absolute;
	overflow-y:auto;
	border-right: 1px solid #CCCCCC;
	float:left;
	margin-top:50px;
	line-height:36px;
	width:300px;
	height:100%;
	background-color:#FFFFFF;
}
div.root{
	cursor:pointer;
	padding-left:10px;
	font-size:16px;
	font-weight:bold;
	color:#D25855;
}
div.root:hover{
	cursor:pointer;
	color:#D25855;
	/** background-color:#D7DEC7; **/
	background-color:#D1CACA;
	font-weight:bold;
}
div.sub{
	font-size:16px;
	display:none;
	line-height:30px;
}
div.menu{
	padding-left:30px;
}
div.menu:hover{
	cursor:pointer;
	color:#000000;
	/** background-color:#D7DEC7; **/
	background-color:#D1CACA;
}
